@charset "UTF-8";
/* CSS Document */

body {
  background-color: #FFFFFF;
}

h1 {
  font-family: "nudista-web",sans-serif;
  color: #FF0000;
  font-size: 2 rem;
  text-align: left;
  fonst-style: normal;
  font-weight: 700;
  letter-spacing: 3.5px;
  margin: 25px;
}

hr {
  margin: 25px 0 0 0;
}

#finalbook {
  text-align: center;
}

.paragraph {
  margin: 10%;
}

p {
  font-family: "nudista-web",sans-serif;
  color: #FF0000;
  text-align: left;
  font-size: 1em;
  font-weight: 300;
}

span {
  font-family: "letter-gothic-std", monospace;
  text-align: justify;
  color: #FF0000;
  font-size: 16px;
}

ol {
  margin: 0 60px 0 70px;
}

li {
  font-family: "letter-gothic-std", monospace;
  text-align: justify;
  color: #fad2d6;
  font-size: 16px;
  margin: 5px;
}

li a {
  color: #fad2d6;
}

footer {
  font-family: "letter-gothic-std",monospace;
  margin: 40px;
}

nav a {
  font-family: "letter-gothic-std",monospace;
  font-style: normal;
  font-weight: 700;
  margin: 40px;
  color: #000000;
  text-decoration: none;
  margin: 10px;
}

nav a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
