@charset "UTF-8";
/* CSS Document */

body {
  background-color: #FFFFFF;
}

h1 {
  font-family: "Letter Gothic" monospace;
  font-face: .tk-letter-gothic-std;
  color: #FF0000;
  font-size: 2 rem;
  text-align: left;
  font-weight: 100;
  font-kerning: 20px;
  margin: 25px;
}

input.resize {
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
}

hr {
  margin: 25px 0 0 0;
}

footer {
  font-family: "Letter Gothic" monospace;
  font-face: .tk-letter-gothic-std;
  margin: 40px;
}

nav a {
  color: #000000;
  text-decoration: none;
  margin: 10px;
}

nav a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
