@charset "UTF-8";
/* CSS Document */

body {
  background-color: #FFFFFF;
}

h1 {
  font-family: "Nudista Bold", "Nudista SemiBold" sans-serif;
  color: #FF0000;
  font-size: 2 rem;
  text-align: left;
  font-weight: 100;
  font-kerning: 20px;
  margin: 25px;
}

input.resize {
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.resize:hover {
  opacity: 0.7;
}

hr {
  margin: 25px 0 0 0;
}

footer {
  font-family: 'Nudista Bold', 'Nudista SemiBold' sans-serif;
  margin: 40px;
}

nav a {
  color: #000000;
  text-decoration: none;
  margin: 10px;
}

nav a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
