@charset "UTF-8";
/* CSS Document */

body {
  background-color: #FFFFFF;
}

h1 {
  font-family: "nudista-web",sans-serif;
  color: #FF0000;
  font-size: 2 rem;
  text-align: left;
  fonst-style: normal;
  font-weight: 700;
  letter-spacing: 10px;
  margin: 25px;
}

hr {
  margin: 25px 0 0 0;
}

footer {
  font-family: "letter-gothic-std",monospace;
  margin: 40px;
}

nav a {
  font-family: "letter-gothic-std",monospace;
  font-style: normal;
  font-weight: 700;
  margin: 40px;
  color: #000000;
  text-decoration: none;
  margin: 10px;
}

nav a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
