@charset "UTF-8";
/* CSS Document */

body {
  background-image: url(images/.jpg);
}

h1 {
  font-family: "nudista-web",sans-serif;
  color: #FF0000;
  font-size: 4.2rem;
  line-height: 100px;
   fonst-style: normal;
  font-weight: 700;
  letter-spacing: 3.5px;
  margin: 60px 30px 40px 30px;
}

iframe {
  max-height: 100%;
  max-width: 100%;
  margin: 2% 0 30px 2%;
}

footer {
  font-family: "letter-gothic-std",monospace;
  margin: 40px;
}

nav a {
  font-family: "letter-gothic-std",monospace;
  font-style: normal;
  font-weight: 700;
  margin: 40px;
  color: #000000;
  text-decoration: none;
  margin: 10px;
}

nav a:hover {
  color: #FFFFFF;
  text-decoration: none;
}